/* Desktop styles (1025px and wider) */
@media screen and (min-width: 1025px) {
    .navbar {
        position: fixed; /* Fixes the navbar to the top of the viewport */
        top: 0; /* Aligns it to the top */
        left: 0; /* Aligns it to the left */
        width: 100%; 
        z-index: 1000; 
    
    }
    
    .main {
        background-image: url('/images/jU3xcPi4wPxwMp47Z6WSxb-415-80.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 70vh; /* Ensures full height from navbar to buttons */
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mainh {
        color: #FFFFFF; /* White for better contrast */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adds shadow to separate from the background */
        padding: 2em 2em 0.5em 2em;
        font-size: 2rem; /* Increase size to make it stand out */
    }
    .main2 {
        display: flex;
        justify-content: end;
        margin: 50px 70px 90px 0;
      }
      .select {
        border: 1px solid #0A2A4A;
        padding: 5px;
      }
      .select:focus {
        outline: none;
      }
      .cart {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 items per row */
        gap: 20px; /* Adjust spacing between items */
      }
    
      .cart1 {
        text-align: center;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 8px;
        transition: transform 0.5s;
      }
      .cart1:hover {
        transform: translateY(-10px);
      }
    
      .rating i {
        color: #ffd700;
      }
      .shopBtn {
        color: #FFFFFF;
        border: 1px solid #0A2A4A;
        padding: 10px 37px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        margin-right: 1em;
        /* background-color: rgba(0, 0, 0, 0.4);  */
        background-color: #0A2A4A;
      }
      .shopBtn:hover{
        background-color: #4682B4;
        /* background-color: red; */
      }
      .container {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
        padding-top: 2em;
        max-width: 950px;
        margin: 0 auto;
      }
      
      .section {
        margin-bottom: 30px;
      }
      
      .heading {
        font-size: 24px;
        margin-bottom: 10px;
        color: #0A2A4A;
    }
    .section span{
        font-weight: bold;
          color: #0A2A4A;
    
      }
      .heading p {
        font-size: 16px;
        color: #333;
      }
      
      
      .section a {
        /* color: blue; */
        color: #4682B4;
        text-decoration: none;
        font-weight: bold;
      }
    }
    
    /* ==========================  Tablet styles (up to 1000px) =========================== */
    @media (max-width: 1000px) {
        
    .main {
        background-image: url('/images/100-euros-banknote-first-series-obverse-1.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 40vh; /* Ensures full height from navbar to buttons */
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mainh {
        color: #FFFFFF; /* White for better contrast */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adds shadow to separate from the background */
        padding: 2em 2em 0.5em 2em;
        font-size: 2rem; /* Increase size to make it stand out */
    }
    .main2 {
        display: flex;
        justify-content: end;
        margin: 50px 70px 90px 0;
      }
        .main2 {
          display: flex; /* Stacking elements vertically */
          flex-direction: column;
          margin: 20px 10px;
          gap: 2em;
        }
      
        .select {
          width: 50%; /* Make the select box full width */
          border: 1px solid #0A2A4A;
          padding: 5px;
        }
        .select:focus {
          outline: none;
        }
      
        .cart {
          display: grid;
          grid-template-columns:  repeat(2, 1fr); /* 1 item per row */
          gap: 15px; /* Adjust spacing between items */
        }
      
        .cart1 {
          padding: 8px; /* Adjust padding for smaller screens */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #f9f9f9;
          /* padding: 10px;  */
          border-radius: 8px;
          transition: transform 0.5s;
        }
        .cart1:hover {
          transform: translateY(-10px);
        }
      
        .rating i {
          color: #ffd700;
        }
      
        .cart1 img {
          max-width: 70%; 
          height: 70%;
        }
        .shopBtn {
            color: #FFFFFF;
            border: 1px solid #0A2A4A;
            padding: 10px 37px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            text-transform: uppercase;
            margin-right: 1em;
            /* background-color: rgba(0, 0, 0, 0.4);  */
            background-color: #0A2A4A;
          }
          .shopBtn:hover{
            background-color: #4682B4;
            /* background-color: red; */
          }
          .container {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
          }
          
          .section {
            margin-bottom: 30px;
          }
          
          .heading {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #0A2A4A;
          }
          .section span{
            font-weight: bold;
              color: #0A2A4A;
        
          }
          
          .heading p {
            font-size: 16px;
            color: #333;
          }
          .section a{
            /* color: blue; */
            color: #4682B4;
            text-decoration: none;
            font-weight: bold;
    
        }
          
    }
      
    /* ==========================  Phone styles (up to 600px) =========================== */
    @media (max-width: 600px) {
        
    .main {
        background-image: url('/images/100-euros-banknote-first-series-obverse-1.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 30vh; /* Ensures full height from navbar to buttons */
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mainh {
        color: #FFFFFF; /* White for better contrast */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adds shadow to separate from the background */
        padding: 2em 0 0.5em 0;
        font-size: 1.8rem; /* Increase size to make it stand out */
    }
    .main2 {
        display: flex;
        justify-content: end;
        margin: 50px 70px 90px 0;
      }
        .main2 {
          display: flex; /* Stacking elements vertically */
          margin: 20px 10px;
          gap: 2em;
        }
      
        .select {
          width: 50%; /* Make the select box full width */
          border: 1px solid #0A2A4A;
          padding: 5px;
        }
        .select:focus {
          outline: none;
        }
      
        .cart {
          display: grid;
          grid-template-columns: 1fr; /* 1 item per row */
          gap: 15px; /* Adjust spacing between items */
        }
      
        .cart1 {
          padding: 8px; /* Adjust padding for smaller screens */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #f9f9f9;
          /* padding: 10px;  */
          border-radius: 8px;
          transition: transform 0.5s;
        }
        .cart1:hover {
          transform: translateY(-10px);
        }
      
        .rating i {
          color: #ffd700;
        }
      
        .cart1 img {
          max-width: 70%; 
          height: 70%;
        }
        .shopBtn {
            color: #FFFFFF;
            border: 1px solid #0A2A4A;
            padding: 10px 37px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            text-transform: uppercase;
            margin-right: 1em;
            /* background-color: rgba(0, 0, 0, 0.4);  */
            background-color: #0A2A4A;
          }
          .shopBtn:hover{
            background-color: #4682B4;
            /* background-color: red; */
          }
          .container {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
          }
          
          .section {
            margin-bottom: 30px;
          }
          
          .heading {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #0A2A4A;
          }
          
          .section span{
            font-weight: bold;
            color: #0A2A4A;
            
        }
        
        .heading p {
            font-size: 16px;
            color: #333;
        }
        .section a{
            color: #4682B4;
            text-decoration: none;
            font-weight: bold;
        
        }
          
    }  