.mainNav {
    display: flex;
    justify-content: space-between;
    /* margin: 0 1em; */
    /* background-color: #007BFF; */
    background-color: #333333;
    padding: 2em;
    width: 100%;
}

.mainNav nav {
    display: flex;
    gap: 2em; 
}

.mainNav2 {
    display: flex;
    gap: 1em; 
    align-items: center; 
}

.mainNav2 a, .mainNav a {
    /* color: white; */
    color: #4682B4;
    text-decoration: none; 
    font-size: 20px;
}
.mainNav2 a:hover, .mainNav a:hover {
    color: #155ba7;
}
.icon:hover {
    /* color: #4682B4; */
    color: #155ba7;      
}
